html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Centaur';
  background-color: #FFF5EB;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cardContainer{
  background-color: #B2B8A3;
  padding: 10px;
  border-radius: 20px;
}

.title{
  font-family: 'Moon Dance';
  font-weight: 300;
  font-size: 70px;
}